<div>
    <h1>Test task password input here</h1>
    <form>
        <input
        type="password"
        #myInput
        placeholder="type password"
        (input)="onChange($event)"
        />
    </form>
    <p>Password strength: {{ passwordStrength }}</p>
    <ul>
        <li>
            <div [style.backgroundColor]="firstColor">----</div>
        </li>
        <li>
            <div [style.backgroundColor]="secondColor">----</div>
        </li>
        <li>
            <div [style.backgroundColor]="thirdColor">----</div>
        </li>
    </ul>
</div>